.weather {
    margin: 10px auto 30px auto;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

@media (min-width: 800px) {
    .weather {
        width: 700px;
        display: flex;
    }

    .weather__current,
    .weather__forecast {
        flex: 0 0 50%;
    }
}

.weather__current {
    min-height: 360px;
    padding: 20px;
    background: var(--gradient-warm);
    color: var(--white);
}

.weather__current--cold {
    background: var(--gradient-cold);
}

.weather__city {
    font-size: var(--font-title);
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin: 0 0 20px 0;
}

.weather__inner {
    display: flex;
}

.weather__inner+.weather__inner {
    margin-top: 30px;
}

.weather__inner--center {
    align-items: center;
}

.weather__section {
    flex: 0 0 50%;
}

.weather__title {
    font-size: var(--font-small);
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}

.weather__value {
    font-size: var(--font-large);
    text-align: center;
    font-weight: 600;
}

.weather__section--temp {
    text-align: center;
}

.weather__temp--value {
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 1;
}

.weather__temp--unit {
    font-size: var(--font-title);
    font-weight: 800;
    line-height: 1;
}

.weather__description {
    margin-top: 5px;
    font-size: var(--font-medium);
    font-weight: 600;
    line-height: 1;
}

.weather__section--icon {
    text-align: center;
}

.weather__section--icon i {
    font-size: var(--font-xl);
}