.select {
    width: 350px;
    max-width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: var(--font-primary);
    font-size: var(--font-medium);
    background-color: var(--background-light);
    cursor: pointer;
}

.select:focus {
    background-color: var(--background-active);
    outline: none;
}